:root {
    --body-bg-color: rgb(35, 43, 61);
    --orig-brown: rgb(253, 249, 241);
    --menu-bar: rgb(224, 224, 224);
    --logo-width: 40vw;
    --top-pic-height: 90vw;

    --header-height: .9vw;
    --header-border: .155vw;
    --header-text-size: .83vw;
    --header-spacing: 1.5vw;

    --image-text-size: 3vw;

    --kitchenisland-width: 20vw;

    --footerlogo-width: 35vw;
}